@import '../../../scss/variables';
@import '../../../scss/mixin';
@import '../../../scss/common';

.flex-grid{
  [class^='col'] {
    margin:0;
    background-color:$primary;
    border-right: 2px solid darken($primary, 10%);
    &:last-child{
      border-right: none;
    }
  }
}
.flex-grid.demo{
  &.stretch,&.middle,&.bottom,&.top{
    height: 144px;
    background-color: lighten($gray-66,10%);
  }
}
