
<div class="content">
  <div class="flex-wrap">
    <h6>12col (<code>12col</code>)</h6>
    <div class="flex-grid">
      <div class="col-1"><div class="domo">1</div></div>
      <div class="col-11"><div class="domo">11</div></div>
    </div>
    <div class="flex-grid">
      <div class="col-2">2</div>
      <div class="col-10">10</div>
    </div>
    <div class="flex-grid">
      <div class="col-3">3</div>
      <div class="col-9">9</div>
    </div>
    <div class="flex-grid">
      <div class="col-4">4</div>
      <div class="col-8">8</div>
     </div>
    <div class="flex-grid">
      <div class="col-5">5</div>
      <div class="col-7">7</div>
    </div>
    <div class="flex-grid">
      <div class="col-6">6</div>
      <div class="col-6">6</div>
    </div>
    <div class="flex-grid">
      <div class="col-12">12</div>
    </div>

    <h6>align-items (<code>.flexy.demo.center</code>)</h6>
    <div class="flex-grid near">
      <div class="col-3">.near/ default</div>
    </div>
    <div class="flex-grid center">
      <div class="col-3">.center</div>
    </div>
    <div class="flex-grid far">
      <div class="col-3">.far</div>
    </div>
    <div class="flex-grid around">
      <div class="col-3">.around</div>
      <div class="col-3">.around</div>
      <div class="col-3">.around</div>
    </div>
    <div class="flex-grid between">
      <div class="col-3">.between</div>
      <div class="col-3">.between</div>
      <div class="col-3">.between</div>
    </div>
    <hr />

    <h6>justify-content (<code>.flexy.demo.middle</code>)</h6>
    <div class="flex-grid demo center top">
      <div class="col-3">.top/ default</div>
    </div>
    <div class="flex-grid demo center middle">
      <div class="col-3">.middle</div>
    </div>
    <div class="flex-grid demo center bottom">
      <div class="col-3">.bottom</div>
    </div>
    <div class="flex-grid demo center stretch">
      <div class="col-3">.stretch</div>
    </div>
  </div>
</div>
