
  <!--flex-wrap-->
  <div class="flex-wrap">

    <!--flex-grid-->
    <div class="flex-grid">
      <!--top search form-->
      <div class="col-12">
        <div class="dx-card responsive-paddings">
          <dx-form class="form-search"
            [formData]="groupSearchForm"
            labelLocation="left"
            [colCountByScreen]="colCountByScreen"
            [showColonAfterLabel]="showColon">
            <dxi-item itemType="group">
              <dxi-item dataField="cmnGrpCd"></dxi-item>
            </dxi-item>
            <dxi-item class="form-search-btn">
              <button class="btn back-cyan small" (click)="onSubmitHandler($event)">Search</button>
              <button class="btn small none i-reset" (click)="onInputResetHandler($event)"></button>
            </dxi-item>
          </dx-form>
        </div>
      </div>
      <!--//top search form-->
    </div>
    <!--//flex-grid-->

    <!--flex-grid-->
    <div class="flex-grid">
      <div class="col-12">
        <div class="dx-card responsive-paddings data-grid-height">
          <dx-data-grid class="dx-card wide-card"
            [dataSource]="groupCodeList"
            [showBorders]="false"
            [focusedRowEnabled]="true"
            [focusedRowIndex]="0"
            [columnAutoWidth]="true"
            [columnHidingEnabled]="true"
            keyExpr="code">

            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
            <dxo-filter-row [visible]="true"></dxo-filter-row>

            <dxi-column
              dataField="Task_ID"
              [width]="90"
              [hidingPriority]="2">
            </dxi-column>
            <dxi-column
              dataField="Task_Subject"
              [width]="190"
              caption="Subject"
              [hidingPriority]="8">
            </dxi-column>
            <dxi-column
              dataField="Task_Status"
              caption="Status"
              [hidingPriority]="6">
            </dxi-column>
            <dxi-column
              dataField="Task_Priority"
              caption="Priority"
              [hidingPriority]="5">
              <dxo-lookup
                [dataSource]="gridPriority"
                valueExpr="value"
                displayExpr="name">
              </dxo-lookup>
            </dxi-column>
            <dxi-column
              dataField="ResponsibleEmployee.Employee_Full_Name"
              caption="Assigned To"
              [allowSorting]="false"
              [hidingPriority]="7">
            </dxi-column>
            <dxi-column
              dataField="Task_Start_Date"
              caption="Start Date"
              dataType="date"
              [hidingPriority]="3">
            </dxi-column>
            <dxi-column
              dataField="Task_Due_Date"
              caption="Due Date"
              dataType="date"
              [hidingPriority]="4">
            </dxi-column>
            <dxi-column
              dataField="Task_Priority"
              caption="Priority"
              name="Priority"
              [hidingPriority]="1">
            </dxi-column>
            <dxi-column
              dataField="Task_Completion"
              caption="Completion"
              [hidingPriority]="0">
            </dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </div>
    <!--//flex-grid-->

    <!--flex-grid 3/9-->
    <div class="flex-grid">
      <!--col-3-->
      <div class="col-4">
        <div class="dx-card responsive-paddings">
          <!--form-->
          <div class="form">
            <!--dx-fieldset-->
            <div class="dx-fieldset">
              <div class="dx-fieldset-header">Group Code</div>
              <!--from second grid-->
              <div class="dx-field">
                <div class="dx-field-label">Group Code<span class="dx-field-item-required-mark">&nbsp;*</span></div>
                <div class="dx-field-value">
                  <div class="form-grid middle second"><!--form-grid middle second-->
                    <div><dx-text-box [(value)]="groupCodeForm.cmnGrpCd"></dx-text-box></div>
                    <div><button class="btn back-cyan medium">검증</button></div>
                  </div><!--form-grid middle second-->
                </div>
              </div>
              <!--from second grid-->
              <!--dx-field-->
              <div class="dx-field">
                <div class="dx-field-label">Group Code Num<span class="dx-field-item-required-mark">&nbsp;*</span></div>
                <dx-text-box class="dx-field-value" value="고객유형">
                </dx-text-box>
              </div>
              <!--dx-field-->
              <!-- select box -->
              <div class="dx-field">
                <div class="dx-field-label">Description</div>
                <div class="dx-field-value">
                  <dx-text-area
                    [height]="70" >
                  </dx-text-area>
                </div>
              </div>
              <!--//select box -->
              <!-- select box -->
              <div class="dx-field">
                <div class="dx-field-label">Job Code<span class="dx-field-item-required-mark">&nbsp;*</span></div>
                <div class="dx-field-value">
                  <dx-select-box
                    [items]="valueChangeEvents"
                    valueExpr="name"
                    displayExpr="title">
                  </dx-select-box>
                </div>
              </div>
              <!--//select box -->
              <!-- radio -->
              <div class="dx-field">
                <div class="dx-field-label">Delete Y/N<span class="dx-field-item-required-mark">&nbsp;*</span></div>
                <div class="dx-field-value">
                  <dx-radio-group
                    [items]="priorities"
                    layout="horizontal">
                  </dx-radio-group>
                </div>
              </div>
              <!--//radio -->
              <!--from thirds grid-->
              <div class="dx-field">
                <div class="dx-field-label">Group Code</div>
                <div class="dx-field-value">
                  <div class="form-grid middle thirds"><!--form-grid middle thirds-->
                    <div><dx-text-box class="i-search" value=""></dx-text-box></div>
                    <div>/</div>
                    <div><dx-text-box value=""></dx-text-box></div>
                  </div><!--form-grid middle thirds-->
                </div>
              </div>
              <!--//from thirds grid-->
              <!--dx-field-->
              <div class="dx-field t-right">
                <button class="btn back-cyan small">신규등록</button>
              </div>
              <!--//dx-field-->
            </div>
            <!--dx-fieldset-->
          </div>
          <!--//form-->
        </div>
      </div>
      <!--//col-3-->
      <!--col-9-->
      <div class="col-8">
        <div class="dx-card responsive-paddings code-data-grid-height">
          <dx-data-grid 
            [dataSource]="dataSource"
            [showBorders]="true"
            (onSelectionChanged)="selectionChanged($event)"
            (onToolbarPreparing)="onToolbarPreparing($event)">
            
            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-editing 
                mode="cell"
                [allowUpdating]="true"
                [allowAdding]="true"
                [allowDeleting]="true">
            </dxo-editing>
            <dxo-selection mode="multiple"></dxo-selection>
            
            <dxi-column dataField="Prefix" caption="Title" [width]="55"></dxi-column>
            <dxi-column dataField="FirstName"></dxi-column>
            <dxi-column dataField="LastName"></dxi-column>
            <dxi-column dataField="Position" [width]="170"></dxi-column>
            <dxi-column
                dataField="BirthDate"
                dataType="date">
            </dxi-column>
    
            <dx-button
                *dxTemplate="let data of 'deleteButton'"
                (onClick)="deleteRecords()"
                [disabled]="!selectedItemKeys.length"
                icon="trash"
                text="Delete Selected Records">
            </dx-button>
    
          </dx-data-grid>
        </div>
      </div>
      <!--//col-9-->
    </div>
    <!--//flex-grid 3/9-->
    <!--button-area-->
    <div class="button-area">
      <div class="t-right">
        <button class="btn back-carmine small" (click)="onSubmitBuGroupCodeHandler($event)">Save</button>
        <button class="btn back-carmine small outline">Delete</button>
      </div>
    </div>
    <!--button-area-->
  </div>
  <!--//flex-wrap-->

