
  <!--flex-wrap-->
  <div class="flex-wrap">

    <!--flex-grid-->
    <div class="flex-grid">
      <!--top search form-->
      <div class="col-12">
        <div class="dx-card responsive-paddings">
          <dx-form class="form-search"
            [formData]="groupSearchForm"
            labelLocation="left"
            [colCountByScreen]="colCountByScreen"
            [showColonAfterLabel]="showColon">
            <dxi-item itemType="group">
              <dxi-item dataField="cmnGrpCd">
                <!-- <dxi-validation-rule 
                  type="required"
                  message="Group Code is required">
                </dxi-validation-rule> -->
              </dxi-item>
            </dxi-item>
            <dxi-item class="form-search-btn">
              <button class="btn back-cyan small" (click)="onSubmitHandler($event)">Search</button>
              <button class="btn small none i-reset" (click)="onInputResetHandler($event)"></button>
            </dxi-item>
          </dx-form>
        </div>
      </div>
      <!--//top search form-->
    </div>
    <!--//flex-grid-->
    <div class="center-container">
      <!--flex-grid-->
      <div class="flex-grid">
        <div class="col-12">
          <div class="dx-card responsive-paddings data-grid-height">
            <dx-data-grid class="dx-card wide-card"
              [dataSource]="groupCodeList"
              [showBorders]="false"
              [focusedRowEnabled]="true"
              [focusedRowIndex]="0"
              [columnAutoWidth]="true"
              [columnHidingEnabled]="true"
              [(focusedRowKey)]="focusedGroupCodeRowKey"
              (onFocusedRowChanging)="onFocusedRowChangingHandler($event)"
              (onFocusedRowChanged)="onFocusedRowChangedHandler($event)"
              keyExpr="cmnGrpCd">

              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
              <dxo-filter-row [visible]="true"></dxo-filter-row>

              <dxi-column dataField="cmnGrpCd" caption="Group Code" [width]="120"></dxi-column>
              <dxi-column dataField="cmnGrpCdNm" caption="Group Code Name" [width]="190"></dxi-column>
              <dxi-column dataField="cmnCdStep" caption="Code Step" [width]="100"></dxi-column>
              <dxi-column dataField="cmnCdDesc" caption="Description"></dxi-column>
              <dxi-column dataField="cmnCdJobCode" caption="Hob Code" [width]="100"></dxi-column>
              <dxi-column dataField="cmnHrkCode" caption="Hrk Code" [width]="120"></dxi-column>
              <dxi-column dataField="useYn" caption="Delete Y/N" [width]="100"></dxi-column>
            </dx-data-grid>
          </div>
        </div>
      </div>
      <!--//flex-grid-->

      <!--flex-grid 3/9-->
      <div class="flex-grid">
        <!--col-3-->
        <div class="col-4">
          <div class="dx-card responsive-paddings">
            <!--form-->
            <div class="form">
              <!--dx-fieldset-->
              <div class="dx-fieldset">
                <div class="dx-fieldset-header">Group Code</div>
                <!--from second grid-->
                <div class="dx-field">
                  <div class="dx-field-label">Group Code<span class="dx-field-item-required-mark">&nbsp;*</span></div>
                  <div class="dx-field-value">
                    <div class="form-grid middle second"><!--form-grid middle second-->
                      <div>
                        <dx-text-box [(value)]="groupCodeForm.cmnGrpCd"></dx-text-box>
                      </div>
                      <div>
                        <button class="btn back-cyan medium"
                          [id]="'compareButton'"
                          (click)="onVerificationHandler($event)">
                          검증
                        </button>
                      </div>
                    </div><!--form-grid middle second-->
                  </div>
                </div>
                <!--from second grid-->
                <!--dx-field-->
                <div class="dx-field">
                  <div class="dx-field-label">Group Code Num<span class="dx-field-item-required-mark">&nbsp;*</span></div>
                  <dx-text-box class="dx-field-value" [(value)]="groupCodeForm.cmnGrpCdNm">
                  </dx-text-box>
                </div>
                <!--dx-field-->
                <!-- select box -->
                <div class="dx-field">
                  <div class="dx-field-label">Description</div>
                  <div class="dx-field-value">
                    <dx-text-area
                      [height]="70" [(value)]="groupCodeForm.cmnCdDesc">
                    </dx-text-area>
                  </div>
                </div>
                <!--//select box -->
                <!-- select box -->
                <div class="dx-field">
                  <div class="dx-field-label">Job Code<span class="dx-field-item-required-mark">&nbsp;*</span></div>
                  <div class="dx-field-value">
                    <dx-select-box
                      [items]="jobCodeList"
                      [(value)]="groupCodeForm.cmnCdJobCode"
                      valueExpr="id"
                      displayExpr="name">
                    </dx-select-box>
                  </div>
                </div>
                <!--//select box -->
                <!-- radio -->
                <div class="dx-field">
                  <div class="dx-field-label">Delete Y/N<span class="dx-field-item-required-mark">&nbsp;*</span></div>
                  <div class="dx-field-value">
                    <dx-radio-group
                      [items]="ynList"
                      [(value)]="groupCodeForm.useYn"
                      layout="horizontal">
                    </dx-radio-group>
                  </div>
                </div>
                <!--//radio -->
                <!--from thirds grid-->
                <div class="dx-field">
                  <div class="dx-field-label">Group Code</div>
                  <div class="dx-field-value">
                    <div class="form-grid middle thirds"><!--form-grid middle thirds-->
                      <!-- <div><dx-text-box class="i-search" value=""></dx-text-box></div>
                      <div>/</div> -->
                      <div><dx-text-box [(value)]="groupCodeForm.cmnHrkCode"></dx-text-box></div>
                    </div><!--form-grid middle thirds-->
                  </div>
                </div>
                <!--//from thirds grid-->
                <!--dx-field-->
                <div class="dx-field t-right">
                  <button class="btn back-cyan small" (click)="onNewRegisterHandler($event)">신규등록</button>
                </div>
                <!--//dx-field-->
              </div>
              <!--dx-fieldset-->
            </div>
            <!--//form-->
          </div>
        </div>
        <!--//col-3-->
        <!--col-9-->
        <div class="col-8">
          <div class="dx-card responsive-paddings code-data-grid-height">
            <dx-data-grid 
              [dataSource]="codeList"
              [showBorders]="true"
              (onSelectionChanged)="selectionChanged($event)"
              (onToolbarPreparing)="onToolbarPreparing($event)">
              
              <dxo-paging [enabled]="false"></dxo-paging>
              <dxo-editing 
                  mode="cell"
                  [allowUpdating]="true"
                  [allowAdding]="true"
                  [allowDeleting]="true">
              </dxo-editing>
              <dxo-selection mode="multiple"></dxo-selection>
              
              <dxi-column dataField="cmnCd" caption="Code" [width]="55"></dxi-column>
              <dxi-column dataField="cmnCdNm" caption="Code Name" [width]="130"></dxi-column>
              <dxi-column dataField="cmnCdDesc" caption="Code Desc"></dxi-column>
              <dxi-column dataField="useYn" caption="Delete Y/N"
                [width]="100"
                [editorOptions]="editorOptions">
                <dxo-lookup
                  [dataSource]="statuses"
                  displayExpr="name"
                  valueExpr="id">
                </dxo-lookup>
              </dxi-column>
              <!-- <dxi-column dataField="useYn" caption="Delete Y/N" cellTemplate="cellTemplate" [width]="100"></!--> -->
              <dxi-column dataField="srtOdr" caption="Sort Order" [width]="100"></dxi-column>
      
              <dx-button
                  *dxTemplate="let data of 'deleteButton'"
                  (onClick)="deleteRecords()"
                  [disabled]="!selectedItemKeys.length"
                  icon="trash"
                  text="Delete Selected Records">
              </dx-button>
              
              <div *dxTemplate="let status of 'ynTemplete'">
                <div *ngIf="status === null"; else elseBlock>
                    <span>(All)</span>
                </div>
                <div dx-template #elseBlock>
                  <span class="middle">{{status.name}}</span>
                </div>
                <!-- <dx-radio-group
                  [items]="ynList"
                  [value]="yn"
                  layout="horizontal">
                </dx-radio-group> -->
              </div>
  
              <!-- <div *dxTemplate="let data of 'cellTemplate'">
                <dx-radio-group
                  [items]="ynList"
                  [value]="data"
                  layout="horizontal">
                </dx-radio-group>
              </div> -->
            </dx-data-grid>
          </div>
        </div>
        <!--//col-9-->
      </div>
      <!--//flex-grid 3/9-->
    </div>
    <!--button-area-->
    <div class="bottom-button-container">
      <div class="t-right">
        <button class="btn back-carmine small" (click)="onSubmitByGroupCodeHandler($event)">Save</button>
        <button class="btn back-carmine small outline" (click)="onDeleteByGroupCodeHandler($event)">Delete</button>
      </div>
    </div>
    <!--button-area-->
  </div>
  <dx-popup
    [width]="300"
    [height]="280"
    [showTitle]="true"
    title="Information"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [showCloseButton]="false"
    container=".dx-viewport"
    [(visible)]="popupVisible">
    <dxi-toolbar-item
        widget="dxButton"
        toolbar="bottom"
        location="before"
        [options]="emailButtonOptions">
    </dxi-toolbar-item>
    <dxi-toolbar-item
        widget="dxButton"
        toolbar="bottom"
        location="after"
        [options]="closeButtonOptions">
    </dxi-toolbar-item>
    <dxo-position
        at="bottom"
        my="center"
        [of]="positionOf">
    </dxo-position>
    <div *dxTemplate="let data of 'content'">
        <p>
            Full Name:
            <span>Kenneth</span>
        </p>
        <p>
            Birth Date:
            <span></span>
        </p>
        <p>
            Address:
            <span></span>
        </p>
        <p>
            Hire Date:
            <span></span>
        </p>
        <p>
            Position:
            <span></span>
        </p>
    </div>
</dx-popup>
  <!--//flex-wrap-->

