@import '../../../scss/styles';
.dx-fieldset:first-child > h4:first-child {
  margin-top: 0;
}

.dx-field > .dx-field-label {
  width: 30%;
}

.dx-field > .dx-field-value {
  width: 70%;
}

.data-grid-height {
  min-height: 350px;
  max-height: 900px;
}

.code-data-grid-height {
  height: 415px;
}

.center-container {
  position: relative;
  display: block;
  height: calc(100vh - 230px);
  overflow: auto;
}

.bottom-button-container {
  display: block;
  margin-top: 10px;
}


