
<div class="content">
  <div class="container">
      <div class="row">
        <div class="col">
          <h2>Colors Button</h2>
          <button class="btn back-primary medium">primary</button>
          <button class="btn info medium">info</button>
          <button class="btn warning medium">warning</button>
          <button class="btn danger medium"> danger</button>
          <button class="btn success medium">success</button>
        </div>
        <div class="col">
          <h2>Rounded Button</h2>
          <button class="btn back-primary tiny rounded">Button tiny</button>
          <button class="btn back-primary small rounded">Button small</button>
          <button class="btn back-primary medium rounded">Button medium</button>
          <button class="btn back-primary large rounded">Button large</button>
        </div>
      </div>
    <div class="row">
      <div class="col">
        <h2>basic button tiny</h2>
        <button class="btn back-gray tiny">back-gray tiny</button>
        <button class="btn back-cyan tiny">back-cyan tiny</button>
        <button class="btn back-carmine tiny">back-carmine tiny</button>
      </div>
      <div class="col">
        <h2>basic button small</h2>
        <button class="btn back-gray small">back-gray small</button>
        <button class="btn back-cyan small">back-cyan small</button>
        <button class="btn back-carmine small">back-carmine small</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>basic button medium</h2>
        <button class="btn back-gray medium">back-gray medium</button>
        <button class="btn back-cyan medium">back-cyan medium</button>
        <button class="btn back-carmine medium">back-carmine medium</button>
      </div>
      <div class="col">
        <h2>basic button large</h2>
        <button class="btn back-gray large">back-gray large</button>
        <button class="btn back-cyan large">back-cyan large</button>
        <button class="btn back-carmine large">back-carmine large</button>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <h2>Outline Button</h2>
          <button class="btn tiny outline">Button tiny</button>
          <button class="btn small outline">Button small</button>
          <button class="btn medium outline">Button medium</button>
          <button class="btn large outline">Button large</button>
        </div>
        <div class="col">
          <h2>none Button</h2>
          <button class="btn tiny none">Button tiny</button>
          <button class="btn small none">Button small</button>
          <button class="btn medium none">Button medium</button>
          <button class="btn large none">Button large</button>
        </div>
        <div class="col">
          <h2>Rounded Outline Button</h2>
          <button class="btn tiny rounded outline">Button tiny</button>
          <button class="btn small rounded outline">Button small</button>
          <button class="btn medium rounded outline">Button medium</button>
          <button class="btn large rounded outline">Button large</button>
        </div>
      </div>
    </div>
</div>
