@charset "UTF-8";

$primary: #23b7ed;
$primary-h: #2a7dc1;
$success: #2de595;
$success-h: #24af71;
$warning: #dda22c;
$warning-h: #c48403;
$danger: #ed3636;
$danger-h: #c11111;
$cyan: #35b0ad;
$cyan-active: #238e8b;
$cyan-disable: #124746;
$cyan-disable-font: #a7b3b2;
$carmine: #Fd7066;
$carmine-active: #ea2315;
$carmine-disable: #75120b;
$carmine-disable-font: #c2a7a5;
$base-bg: #111111;
$white: #FFFFFF;
$black: #000000;
$light-gray: #9298a7;
$gray-66: #666666;
$info: #5cb85c;
$info-h: #5cb85c;
$gray-99: #999999;
$gray-33: #333333;
$gray-5a: #5a5b5f;
$gray-btn: #9ea4b1;
$gray-btn-active: #6b7385;
$gray-btn-disable: #363a43;
$gray-btn-disable-font: #aeafb2;
$gray-29: #292a2d;
$gray-5a: #5a5b5f;
$gray-ee: #EEEEEE;
$lnb-bg: #111111;
$lnb-select-bg: #152121;
$lnb-line: #3a3b3d;
$gnb-bg: #292a2d;
$lnb-navi-bottom-line: #193636;
$lnb-txt-color: #35b0ad;
$logo: 30px;
$gnb-text: 20px;
$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-bolder: 900;
$base-border-color: #35b0ad;
$base-border-radius: 5px;
$base-link: #35b0ad;
$base-accent: #35b0ad;
$base-text-color: #FFFFFF;
$lnb-text-color: #98a7b9;
$base-font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕',arial, sans-serif !important;

/* side */
$side-panel-min-width:60px;
$margin-right: 10px;


